.content-section {
    max-width: 1440px;
    margin: auto;
  }
  
  .header {
    padding: 90px 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1440px;
    align-items: center;
    margin: 0;
  }
  
  .header_menu {
    justify-self: start;
  }
  
  .header_link {
    color: #000;
    font-family: "Raleway","Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .header_links-list {
    display: flex;
    gap: 32px;
  }
  
  .header_links-list-item {
    list-style: circle ;
  }
  
  .header_menu-item_active {
    list-style: none;
  }
  
  .header_logo {
    display: block;
    width: 148px;
    height: 105px;
    justify-self: center;
  }
  
  .header_logo-image {
    width: 100%;
    height: 100%;
  }
  
  .nav {
    text-align: end;
  }
  
  address {
    display: block;
    max-width: 240px;
    font-style: normal;
    line-height: 24.3px; /* 135% */
    margin: 0;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    text-underline-offset: 4px;
    justify-self: end;
    text-underline-offset: 3px;
  }
  
  .cover {
    padding: 10px;
    position: relative;
    margin: 0;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .overlay {
    background-color: rgb(0 0 0/ 0.6);
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .cover__title {
    color: #FFF;
    font-family: "Raleway","Arial", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 100px */
    text-transform: uppercase;
    letter-spacing: 30px;
    margin: 160px 45px 130px 45px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  
  .aligned-text {
    display: block;
    text-align: left;
    letter-spacing: 27px;
    line-height: 115%;
  }
  
  .letter-spacing-extended {
    letter-spacing: 60px;
  }
  
  .no-letter-spacing {
    letter-spacing: initial;
  }
  
  .aligned-text_center {
    display: block;
    text-align: center;
    line-height: 100%;
    margin-right: 55px;
  }
  
  .aligned-text_right {
    display: block;
    text-align: right;
    line-height: 100%;
  }
  
  .cover__description {
    display: flex;
    align-items:center;
    margin-top: 135px;
    justify-content: flex-end;
    gap: 80px;
    margin-right: 40px;
    margin-bottom: 35px;
    position: relative;
    z-index: 1;
  }
  
  .cover__description-text {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 28px; /* 127.273% */
    word-spacing: 18px;
  }
  
  .bet-button {
    width: 257px;
    height: 52px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Raleway","Arial", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    background-color: transparent;
  }
  
  .lots {
    padding: 180px 50px;
    max-width: 1440px;
    margin: 0;
  }
  
  .lots__heading {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
  }
  
  .lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  
  .lots__card-list-item {
    width: 430px;
    min-height: 450px;
    flex-grow: 1;
  }
  
  .card-link {
    display: block;
    text-decoration: none;
    height: 100%;
  }
  
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .card_type_film {
    background-image: url(../images/card-lot-01.jpg);
  }
  
  .lots-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  
  .card__title {
    color: #FFF;
    font-family: "Raleway","Arial", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
  }
  
  .card__text {
    color: #FFF;
    font-family: "Raleway","Arial", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
  }
  
  .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
  }
  
  .card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
  }
  
  .lots__look-more-link {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
    text-underline-offset: 6px;
  }
  
  .about {
    max-width: 1440px;
    padding: 0px 50px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }

  
  .about__logo {
    background-color: #000;
    border-radius: 50%;
    width: 55%;
    height: 100%;
    margin: 0px 95px;
  }
  
  .about__logo-image {
    width: 100%;
    height: 100%;
    padding: 63px 46px;
  }
  
  .about__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    justify-self: start;
    align-self: center;
  }
  
  .about__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 25px;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: stretch;
  }
  
  .footer {
    padding: 180px 50px 90px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 310px;
  }
  
  .footer__menu {
    text-align: center;
  }
  
  .footer__menu-list {
    list-style: none;
  }
  
  .footer__menu-link {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer__menu-link_active {
    text-decoration: none;
  }
  
  .footer__social-list {
    display: flex;
    gap: 50px;
    max-width: 240px;
  }
  
  .footer__social-list-item {
    list-style: none;
  }

  .footer__social-link {
    display: block;
    width: 48px;
  }